In [1]:
from modules.data_loader import DataLoader

In [2]:
loader = DataLoader("mx100/job_table.parquet")

In [3]:
df = loader.load_data()
df.head()

,cores_alloc_layout,cores_allocated,cores_per_task,derived_ec,eligible_time,end_time,Group ID,Job Number,job_state,nodes,...,num_gpus_alloc,mem_req,mem_alloc,User ID,node_power_consumption,mem_power_consumption,cpu_power_consumption,Total Requested Memory,Wait Time,Submit Time
0,"{900: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 1...","{900: 128, 915: 128, 902: 128, 901: 128, 904: ...",4,1:0,2020-05-31 22:09:29+00:00,2020-05-31 22:21:33+00:00,25200,2913594,CANCELLED,"[900, 901, 902, 903, 904, 905, 906, 907, 908, ...",...,64,475,3800,310,"[7970, 8450, 8460, 8470, 7440, 8470, 8460, 847...","[418, 724, 724, 678, 556, 654, 606, 600, 600, ...","[948, 1628, 1650, 1544, 1260, 1532, 1418, 1700...",118.75000,1,2233604
1,"{687: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 1...","{687: 128, 688: 128, 681: 128, 682: 128, 680: ...",4,1:0,2020-05-31 22:22:08+00:00,2020-05-31 22:41:25+00:00,25200,4063066,CANCELLED,"[680, 681, 682, 683, 684, 685, 686, 687, 688, ...",...,64,475,3800,310,"[7970, 8430, 7940, 8480, 7460, 8490, 6890, 848...","[720, 738, 736, 614, 720, 642, 632, 524, 598, ...","[1640, 1604, 1592, 1364, 1532, 1508, 1528, 147...",118.75000,0,2234363
2,"{687: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 1...","{687: 128, 688: 128, 681: 128, 682: 128, 680: ...",4,1:0,2020-05-31 22:41:38+00:00,2020-05-31 22:56:20+00:00,25200,5730196,CANCELLED,"[680, 681, 682, 683, 684, 685, 686, 687, 688, ...",...,64,475,3800,310,"[7950, 7970, 8500, 8480, 8470, 6900, 8460, 845...","[672, 720, 716, 630, 674, 474, 644, 606, 602, ...","[1654, 1600, 1606, 1438, 1506, 1108, 1496, 167...",118.75000,1,2235533
3,"{416: [0, 1, 2, 3, 4, 5, 6, 7]}",{416: 32},32,1:0,2020-05-31 23:26:23+00:00,2020-05-31 23:45:16+00:00,25200,3047960,FAILED,[416],...,4,59,59,379,"[860, 860, 860, 860, 860, 860, 860, 860, 860, ...","[38, 40, 46, 44, 48, 40, 44, 46, 42, 40, 40, 4...","[108, 182, 178, 182, 190, 174, 188, 186, 190, ...",1.84375,0,2238218
4,"{416: [0, 1, 2, 3, 4, 5, 6, 7]}",{416: 32},32,1:0,2020-05-31 23:08:01+00:00,2020-05-31 23:25:27+00:00,25200,5749077,FAILED,[416],...,4,59,59,379,"[860, 860, 860, 860, 860, 860, 860, 860, 860, ...","[36, 44, 42, 42, 44, 40, 44, 42, 50, 42, 42, 4...","[82, 182, 178, 180, 170, 168, 168, 192, 196, 1...",1.84375,0,2237116

In [4]:
df = loader.extract_additional_features()
df.head()

,cores_alloc_layout,cores_allocated,cores_per_task,derived_ec,eligible_time,end_time,Group ID,Job Number,job_state,nodes,...,Avg Running Requested Nodes,Jobs Currently Running,Longest Current Running Time,Sum Current Running Times,Occupied Resources,Break Time,Time of Day Cos,Time of Day Sin,Time of Week Cos,Time of Week Sin
103479,{76: [0]},{76: 4},1,0:0,2020-07-17 09:58:15+00:00,2020-07-17 09:58:26+00:00,25200,2915043,COMPLETED,[76],...,1.0,0,11,11,1,0.0,-0.557383,0.830256,-0.508344,0.861154
193669,"{161: [0, 1, 2, 3, 4, 5, 6, 7]}",{161: 32},32,0:15,2020-10-05 11:44:18+00:00,2020-10-05 13:05:33+00:00,25200,4219784,COMPLETED,[161],...,0.0,0,0,0,0,6918363.0,-0.869387,0.494132,0.149998,-0.988686
191053,"{673: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 1...",{673: 128},128,0:0,2020-10-05 13:07:13+00:00,2020-10-05 17:44:55+00:00,25200,6017635,COMPLETED,[673],...,0.0,0,0,0,0,4975.0,-0.988005,0.154423,0.200874,-0.979617
203126,"{295: [0, 1, 2, 3, 4, 5, 6, 7]}",{295: 32},32,127:0,2020-10-09 05:27:17+00:00,2020-10-09 05:31:02+00:00,25200,4507858,FAILED,[295],...,0.0,0,0,0,0,318004.0,0.557262,0.830337,-0.356350,0.934353
122293,"{641: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 1...",{641: 128},32,0:15,2020-08-13 08:06:58+00:00,2020-08-13 08:23:53+00:00,25200,1370469,CANCELLED,[641],...,1.0,0,1015,1015,1,0.0,-0.105469,0.994423,0.420235,0.907415

In [5]:
train_df, test_df = loader.split_train_test()

In [6]:
df.shape

(222520, 72)

In [7]:
train_df.shape

(155764, 72)

In [8]:
test_df.shape

(66756, 72)

In [9]:
loader.save_parquet("job_data")

Files saved in: /home/davide/Scrivania/Tesi/Runtime and Energy Prediction/mx100

In [10]:
import pandas as pd

In [11]:
df_full = pd.read_parquet("mx100/job_data_full.parquet", engine="pyarrow").copy()
df_full.head()

,Job Number,User ID,Requested Number of Nodes,Requested Number of CPU,Requested Number of GPU,Total Requested Memory,Desired QoS,Requested Time,Run Time,Duration (H4),...,Jobs Currently Running,Longest Current Running Time,Sum Current Running Times,Occupied Resources,Break Time,Submit Time,Time of Day Cos,Time of Day Sin,Time of Week Cos,Time of Week Sin
103479,2915043,3,1,1,4,0.000977,1,60000,11,Short,...,0,11,11,1,0.0,6250530,-0.557383,0.830256,-0.508344,0.861154
193669,4219784,3,1,32,4,1.843750,1,6000,4871,Medium,...,0,0,0,0,6918363.0,13168893,-0.869387,0.494132,0.149998,-0.988686
191053,6017635,3,1,128,4,29.625000,1,18000,16146,Long,...,0,0,0,0,4975.0,13173868,-0.988005,0.154423,0.200874,-0.979617
203126,4507858,3,1,32,4,1.843750,1,6000,113,Short,...,0,0,0,0,318004.0,13491872,0.557262,0.830337,-0.356350,0.934353
122293,1370469,4,1,128,4,29.625000,1,86400,1015,Medium,...,0,1015,1015,1,0.0,8576653,-0.105469,0.994423,0.420235,0.907415

In [12]:
df_full.columns

Index(['Job Number', 'User ID', 'Requested Number of Nodes',
       'Requested Number of CPU', 'Requested Number of GPU',
       'Total Requested Memory', 'Desired QoS', 'Requested Time', 'Run Time',
       'Duration (H4)', 'Duration (H7)', 'Prev Run Time 1', 'Prev Run Time 2',
       'Prev Run Time 3', 'Avg Run Time 2', 'Avg Run Time 3',
       'Avg Run Time All', 'Prev Duration (NH4) 1', 'Prev Duration (NH4) 2',
       'Prev Duration (NH4) 3', 'Avg Duration (NH4) 2', 'Avg Duration (NH4) 3',
       'Avg Duration (NH4) All', 'Prev Duration (NH7) 1',
       'Prev Duration (NH7) 2', 'Prev Duration (NH7) 3',
       'Avg Duration (NH7) 2', 'Avg Duration (NH7) 3',
       'Avg Duration (NH7) All', 'Avg Requested Nodes',
       'Requested Nodes Ratio', 'Avg Running Requested Nodes',
       'Jobs Currently Running', 'Longest Current Running Time',
       'Sum Current Running Times', 'Occupied Resources', 'Break Time',
       'Submit Time', 'Time of Day Cos', 'Time of Day Sin', 'Time of Week Cos',
       'Time of Week Sin'],
      dtype='object')

In [13]:
df_train = pd.read_parquet("mx100/job_data_train.parquet", engine="pyarrow").copy()
df_train.head()

,Job Number,User ID,Requested Number of Nodes,Requested Number of CPU,Requested Number of GPU,Total Requested Memory,Desired QoS,Requested Time,Run Time,Duration (H4),...,Jobs Currently Running,Longest Current Running Time,Sum Current Running Times,Occupied Resources,Break Time,Submit Time,Time of Day Cos,Time of Day Sin,Time of Week Cos,Time of Week Sin
7643,2686552,1470,32,4096,128,29440.0000,4,86400,77702,Long,...,0,77702,77702,32,0.0,0,1.000000,0.000000,1.000000,0.000000
8413,5370710,1540,1,4,4,0.2500,1,86400,13243,Long,...,0,0,0,0,0.0,17927,0.263943,0.964538,0.982707,0.185166
8233,175694,906,8,1024,32,1840.0000,1,36000,19576,Long,...,0,0,0,0,0.0,18352,0.234011,0.972234,0.981880,0.189503
8272,2214444,303,13,832,52,2537.4375,1,86400,17052,Long,...,0,0,0,0,0.0,19328,0.164474,0.986381,0.979908,0.199449
7979,2687047,906,16,2048,64,7360.0000,1,36000,19869,Long,...,0,19576,19576,8,3395.0,21747,-0.010690,0.999943,0.974587,0.224010

In [14]:
df_test = pd.read_parquet("mx100/job_data_test.parquet", engine="pyarrow").copy()
df_test.head()

,Job Number,User ID,Requested Number of Nodes,Requested Number of CPU,Requested Number of GPU,Total Requested Memory,Desired QoS,Requested Time,Run Time,Duration (H4),...,Jobs Currently Running,Longest Current Running Time,Sum Current Running Times,Occupied Resources,Break Time,Submit Time,Time of Day Cos,Time of Day Sin,Time of Week Cos,Time of Week Sin
176934,2265238,1711,1,64,4,7.375,1,14400,4444,Medium,...,0,0,0,0,0.0,11480812,0.727972,-0.685607,0.994182,-0.10771
177603,633622,1711,1,64,4,7.375,1,14400,4213,Medium,...,0,0,0,0,0.0,11480812,0.727972,-0.685607,0.994182,-0.10771
176962,5064447,1711,1,64,4,7.375,1,14400,4649,Medium,...,0,0,0,0,0.0,11480812,0.727972,-0.685607,0.994182,-0.10771
177416,2968257,1711,1,64,4,7.375,1,14400,2800,Medium,...,0,0,0,0,0.0,11480812,0.727972,-0.685607,0.994182,-0.10771
176996,1952764,1711,1,64,4,7.375,1,14400,4629,Medium,...,0,0,0,0,0.0,11480812,0.727972,-0.685607,0.994182,-0.10771